<form class="login-up">
    <div class="form-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="">
    </div>
    <div class="form-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
    <button id='loginUser' class="btn button">Login</button>
</form>
<div class="callout">
    <div class="mt-2"><span>Don't have account? <a id="createAccount" href="#">Create Account</a></span></div>
</div>