
<div class="list-inner">
    <div class="search-toolbar"></div>
    <div class="user-toolbar"></div>
    <div class="list-scroll">
        <ul class="lists-collection">
            <div class="sidebarItem list">
                <a href="id de las tareas">
                    <span class="list-icon"></span>
                    <span class="list-title"></span>
                    <span class="list-options"></span>
                </a>
            </div>
        </ul>        
    </div>
    <div class="sidebarActions">
        <a href="" class="sidebarActions-addList">
            <span class="sidebarActions-icon"></span>
            <span class="sidebarActions-label"></span>
        </a>
    </div>
</div>